* {
    box-sizing: border-box;
}

html, body, .site-wrapper {
    /* width: 100%;
    height: 100%; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    display: flex;
    background-color: #fafafa; 
}

.sidebar {
    flex-grow: 1;
    background-color: #ffffff;
    max-width: 240px;
    transition: all .4s ease-in-out;
    border-right: 1px solid #eeeeee;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar-header {
    padding: 2em;
    transition: all .4s ease-in-out;
}

.sidebar-header a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8e80ef;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 12px 1px rgba(142, 128, 239, 0.3);
}

.sidebar .menu .menu-item {
    display: flex;
    align-items: center;
    padding: .8em 2.2em;
    color: #121212;
    font-size: 14px;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item:active{
    background-color: rgb(217, 226, 249);
    color: #8e80ef;
}

.sidebar .menu-icon {
    width: 30px;
    text-align: center;
}

.sidebar .menu-label {
    padding: 10px;
}

@media screen and (max-width: 768px){
    .sidebar {
        max-width: 70px;
    }

    .sidebar .menu-label {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }

    .sidebar-header {
        padding: 1em;
    }

   .sidebar .menu .menu-item{
       padding: 1em;
       text-align: center;
       justify-content: center;
   }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-wrapper {
   
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.site-header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    border-bottom: 1px solid #eeeeee;
}

.site-header .searchbar {
    padding: 0 1.5em;
    color: #dbdbdb;
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.site-header .searchbar input {
    border: 0;
    padding: 5px;
    background-color: transparent;
    color: rgb(173, 173, 173);
    font-family: inherit;
    outline: none;
    flex-grow: 1;
    margin-left: 10px;
}

::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 16px;
    color: rgb(173, 173, 173)
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.site-header .notification-bell {
    padding: 1.5em;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    color: #a19e9e;
}

.site-header  .user-info {
    padding: 0 2em 0 1em;
    display: flex;
    align-items: center;
    position: relative;
}

.site-header  .user-info:before,
.site-header  .user-info:after{
    content: "";
    position: absolute;
    top: 13px;
    right: 2em;
    width: 2px;
    height: 8px;
    background-color: #dbdbdb;
    border-radius: 4px;
}

.site-header  .user-info:before{
    transform: rotate(45deg) translateY(-3px);
}

.site-header  .user-info:after {
    transform: rotate(-45deg) translateY(-3px)
}

.site-header .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #ffaa1a;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.site-header .user-name {
    font-size: 14px;
    font-weight: 500;
    color: darken(#dbdbdb, 25);
    padding-right: 1em;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.right-side {
    width:35%;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
   
}

.buttons {
    margin-left: 20px;
    padding: 15px 0px;
}

.buttons button {
    padding: 10px;
    border: none;
    font: inherit;
    color: rgb(142, 142, 142);
    background-color: rgb(237, 237, 237);
    cursor: pointer;  
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 12px;
  }

 .buttons button:hover {
    background-color: rgb(141, 127, 238);
    color: #ffffff;
    box-shadow: 2px 4px 12px 1px rgba(142, 128, 239, 0.3);
  } 

.left-calendar {
    max-width: 670px; 
    display: flex;
    margin-left: 25px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    box-shadow: 0px 7px 10px -1px #e6e6e6;
}

.title-calendar {
    width: 100%;
    padding-bottom: 10px;
    font-weight: 700;
}



.left-calendar table {
    background-color: #ffffff;
    font-weight: 500;
    padding-right: 28px;
    border-radius: 5px 0px 0px 5px; /* top left, top right, bottom right, bottom left */
}

.day {
    color: rgb(180, 180, 180);
    padding: 15px;
}

.day:hover {
    color: rgb(141, 127, 238);
    cursor: pointer;
}

.date {
   padding: 0px 15px 15px 15px;
   text-align: center;
   position: relative;
    z-index: 1;
}

.date:first-child::after{
    content: "";
    background-color: rgb(0, 142, 255);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    left: 45%;
    bottom: 30%;
    position: absolute;
}

.date:nth-child(2)::before{
    content: "";
    background-color: rgb(0, 142, 255);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    left: 47%;
    bottom: 30%;
    position: absolute;
}

.date:nth-child(2)::after{
    content: "";
    background-color: rgb(241, 36, 113);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    left: 47%;
    bottom: 10%;
    position: absolute;
}

.date:nth-child(3) {
    color: #ffffff;
}

.date:nth-child(3)::after{
    z-index: -1;
    content: "";
    background-color: rgb(141, 127, 238);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 12%;
    bottom: 30%;
    position: absolute;
}

.next-week {
    background-color: rgb(141, 127, 238);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-right: 11px;
    border-radius: 0px 5px 5px 0px; /* top left, top right, bottom right, bottom left */
}

.title-open {
    padding-left: 75px;
    padding-right: 10px;
}

.calendar-title-small {
    display: inline-block;
    font-size: 12px;
    color: rgb(219, 212, 255)
}

.arrow{
    color: rgb(195, 195, 195);
    font-size: 20px;
    
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    padding-left: 520px;
    padding-right: 10px;

}

.meetings {
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
    width: 100%; 
    justify-content: space-between;     
}

.classes, .sessions {
    width: 46%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.classes {
    margin-left: 25px;
}

.sessions {
    margin-right: 25px;
}




img {
    max-width: 100%;
    height: auto;
}

.event {
    display: flex;
    background-color: #ffffff;
    border-bottom: 3px solid rgb(250, 250, 250);
}

.event button {
    color: grey;
    font-weight: 700;
}

.image {
    max-width: 50px;
    margin: 0px 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.spot {
    align-self: center;
    margin: 0 20px 0 auto;
}

.spot button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
}

button:hover {
    cursor: pointer;
}

.title-event {
    font-size: 12px;
    font-weight: 500;
   padding: 10px 0px;
}

.title-event span {
    display: inline-block;
    padding: 2px 0px;
}

.classes .event:last-child {
    border: hidden;
}

.sessions .event:last-child {
    border: hidden;
}

.right-meetings .event:last-child {
    border: hidden;
}

.classes-sessions {
    color: black; 
    font-weight: 500;
    background-color: rgb(250, 250, 250);
    align-items: baseline;
    flex-direction: column;
}

.grey-title {
    font-size: 14px;
    color: rgb(183, 183, 183);
    font-weight: 100;
} 

.time {
    color: rgb(145, 145, 145);
}

.name {
    font-size: 11px;
    color: rgb(145, 145, 145);
}

.number {
    border: 1px solid rgb(209, 209, 209);
    color: rgb(150, 150, 150);
    border-radius: 3px;
    font-size: 10px;
}


.title-all {
    background-color: #ffffff;
    margin-left: 15px;
    padding: 15px 0px;
    border: hidden;
    
}

.right-meetings {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(250, 250, 250);
    background-color: #ffffff;
    position: relative;
}

.orange-circle {
    z-index: 1;
    background-color: #ffaa1a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    box-shadow: 2px 4px 12px 1px #ffaa1a;
}

.orange-circle::after{
    z-index: 2;
    content: "+";
   color: #ffffff;
   font-size: 32px;
   position: absolute;
   top: 10%;
   left: 32%;
}


#calendar2 {
    width: 100%;
    line-height: 2em;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }
   
#calendar2 thead tr:last-child {
  
    color: rgb(189, 189, 189);
  }
  
  #calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color:rgb(141, 127, 238);
  }
  #calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar2 tbody td {
    color: black;
  }

  #calendar2 tbody td.today {
    background:  rgb(141, 127, 238);
    color: #fff;
    border-radius: 50%;
  }